<h2> <%= params[:question] %></h2>
<p> - You</p>

<h2> <%= @answer%> </h2>
<p> - Your coach</p>

<%= link_to "Go to ask", ask_path %>

<!-- will display the question you ask your coach as well as his answer. -->
